h1 {
  font-family: 'Alegreya Sans'; font-weight: bolder;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
   background-color: rgb(240, 234, 176)
   /* background-image: linear-gradient(rgb(202, 250, 202), rgb(251, 251, 191), rgb(252, 238, 191)); */
 }

 a {
   color: #333;
   text-decoration: none;
 }

 .container  {
   padding: 0 1rem; /*Relative to the font-size of the element 
   (2em means 2 times the size of the current font)*/
   padding-bottom: 50px;
 }